/*******************************************************************************
* VARIABLES ET RESET
* Variables globales et règles de base
********************************************************************************/

:root {
    --primary-color: #e50914;
    --bg-color-dark: #080808;
    --text-color-light: #ffffff;
    --text-color-muted: #b3b3b3;
    --font-family-netflix: 'Arial Bold', 'Arial', sans-serif;
    --box-shadow-standard: 0 8px 20px rgba(0, 0, 0, 0.4);
    --box-shadow-hover: 0 8px 25px rgba(0, 0, 0, 0.6);
    --transition-standard: 0.3s ease;
    --header-bg-transparent: rgba(0, 0, 0, 0);
    --header-bg-solid: rgba(0, 0, 0, 1);
    
    /* Variables spécifiques à la page de détails */
    --overlay-gradient: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.5) 100%);
    --hero-height: 85vh;
    --section-spacing: 50px;
    --bg-color: #141414;
    --accent-color: #E6A700;
}

body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    font-family: var(--font-family-netflix);
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}